.header {
    min-height: 74px;
    position: relative;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    margin-left: 200px;
    margin-right: 200px;
}


@media screen and (max-width: 1100px) { 
    .header { 
        margin-right: 50px; 
        margin-left: 50px; 
    } 
} 


@media screen and (max-width: 800px) {
    .header {
        min-height: 56px;
        margin-left: 0;
        margin-right: 0;
    }
}